# 0G Chain Private Key (with testnet funds)
PRIVATE_KEY=

# 0G Network
L1_RPC=https://evmrpc-testnet.0g.ai
FLOW_ADDRESS=0xbD75117F80b4E22698D0Cd7612d92BDb8eaff628
STORAGE_RPC=https://indexer-storage-testnet-turbo.0g.ai
